@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: contain;

    @apply box-border text-[1em] outline-none text-inherit tracking-[-0.015em];
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  html {
    @apply w-full;
  }

  body,
  #__next {
    @apply w-full h-full;
  }
}
